<section class="bg-yellow-50 dark:bg-yellow-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <div class="w-full bg-yellow-200 rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <app-logo />

                <h3 class="mt-4 text-xl text-center font-bold leading-tight font-emblemaone text-green-700 md:text-2xl dark:text-white">
                    Crear una cuenta
                </h3>

                <form class="space-y-4 md:space-y-6" (submit)="onSubmit()" [formGroup]="form">
                    <div>
                        <label for="username" class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Correo</label>
                        <input type="username" formControlName="username" name="username" id="username" class="bg-green-50 border border-green-300 text-green-900 rounded-lg focus:ring-green-600 focus:border-green-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                        @if(isRequired('username')) {
                            <small class="text-red-400">Este campo es requerido</small>
                        }
                    </div>
                    
                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Correo</label>
                        <input type="email" formControlName="email" name="email" id="email" class="bg-green-50 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                        @if(isRequired('email')) {
                            <small class="text-red-400">Este campo es requerido</small>
                        }
                        @if(hasEmailError()) {
                            <small class="text-red-400">Correo no es válido</small>
                        }
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Contraseña</label>
                        <input type="password" formControlName="password" name="password" id="password" placeholder="••••••••" class="bg-green-50 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        @if(isRequired('password')) {
                            <small class="text-red-400">Este campo es requerido</small>
                        }
                        @if(hasPasswordError()) {
                            <small class="text-red-400">La contraseña debe tener al menos 6 caracteres</small>
                        }
                    </div>
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm font-medium text-green-900 dark:text-white">Repetir Contraseña</label>
                        <input type="password" formControlName="confirmPassword" name="confirm-password" id="confirm-password" placeholder="••••••••" class="bg-green-50 border border-green-300 text-green-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                        @if(isRequired('confirmPassword')) {
                            <small class="text-red-400">Debes repetir la contraseña</small>
                        }
                        @if(hasConfirmPasswordError()) {
                            <small class="text-red-400">Las contraseñas no coinciden</small>
                        }
                    </div>
                    <button pButton type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Registrarse</button>
                    <p class="text-sm font-light text-green-500 dark:text-gray-400">
                        ¿Ya tienes una cuenta? <a routerLink="/auth/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Inicia Sesión</a>
                    </p>
                </form>
                <app-footer />
            </div>
        </div>
    </div>
  </section>