<!--<p-button label="Carrito de Compras" icon="pi pi-shopping-cart" (onClick)="show()" />-->

@if(produtcs.length > 0) {
  <div class="fixed bottom-8 right-8 bg-transparent z-50 w-12 h-12 rounded-full flex items-center justify-center fab-button">
    <p-button
      icon="pi pi-shopping-cart"
      [rounded]="true"
      [styleClass]="'text-white w-full h-full flex items-center justify-center'"
      (onClick)="show()"
    >
    </p-button>
    <span class="absolute top-0 right-0 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-xs font-bold">{{ produtcs.length }}</span>
  </div>
}

<p-drawer class="text-xs" header="Carrito de Compras" [visible]="visible" position="right" (onHide)="dismiss()">
    <span class="text-xs md:text-base font-bold text-gray-700">Productos</span>
    <p-divider />
    <p-dataview #dv [value]="produtcs" emptyMessage="Sin productos">
        <ng-template #list let-items>
            <div class="border-b border-b-gray-200 col-span-12 pt-2 pb-4 px-2 grid grid-cols-6" *ngFor="let item of items; let first = first">
                <div class="col-span-4 text-left">
                    <span class="block text-sm font-medium text-surface-900 text-gray-500 overflow-hidden">{{ item.name }}</span>
                    <span class="text-secondary text-xxs text-gray-700">CANTIDAD: {{ item.quantity }}</span>
                </div>
                <div class="col-span-2 text-right">
                    <span class="w-full block text-xxs font-semibold text-gray-500">S/ {{ item.salePrice | number: '1.2-2' }}</span>
                    <span class="w-full text-base font-semibold text-gray-500">S/ {{ item.salePrice * item.quantity | number: '1.2-2' }}</span>
                    <div class="mt-2.5">
                        <p-button variant="outlined" severity="danger" label="Eliminar" (onClick)="deleteProduct(item)"/>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataview>

    <div class="fixed-bottom bg-white px-2 py-4">
        <div class="px-2 py-4 flex justify-between">
            <span class="text-xl font-semibold text-surface-900">Total</span>
            <span class="text-xl font-semibold text-surface-900">S/ {{ total | number: '1.2-2' }}</span>
        </div>

        <div class="px-2 w-full text-center space-x-4">
            <p-button label="Finalizar Compra" [disabled]="produtcs.length === 0" (onClick)="finalizePurchase()" />
        </div>
    </div>
</p-drawer>
