<section class="mx-auto w-full px-4">
    <div class="my-4 p-4 rounded-2xl flex justify-between items-center">
        <h1 class="text-base md:text-lg font-winkysans font-bold text-gray-500">Productos</h1>
        <div>
            <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" routerLink="/product/create" />
            <p-button label="Exportar" icon="pi pi-download" severity="secondary" />
        </div>
    </div>

    <app-product-table [products]="products"></app-product-table>

    <div class="mb-4 mt-4 p-4 text-sm text-gray-700">
      <h3 class="text-base font-semibold mb-2">Fecha de Vencimiento</h3>
      <p>
        🟢 Vigente &nbsp;|&nbsp; 🟡 Vigente (menor a 10 días) &nbsp;|&nbsp; 🔴 Vencido
      </p>
    </div>

</section>
