<div class="w-full overflow-x-auto shadow-md sm:rounded-lg p-4">
    <p-table
        #dt
        [value]="items()"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['username', 'names', 'email', 'phone', 'rol']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} usuarios"
        [showCurrentPageReport]="true"
    >
        <ng-template #caption>
            <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
                <h5 class="m-0 text-green-900 font-medium text-sm md:text-base">Lista de Usuarios</h5>
                <p-iconfield class="w-full">
                    <p-inputicon styleClass="pi pi-search" />
                    <input
                        pInputText
                        class="w-full"
                        type="text"
                        (input)="onFilter($event)"
                        placeholder="Buscar..."
                    />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="names" style="min-width: 10rem">Nombre <p-sortIcon field="names" /></th>
                <th pSortableColumn="username" style="width: 8rem">Usuario <p-sortIcon field="username" /></th>
                <th pSortableColumn="email" style="width: 8rem">Correo <p-sortIcon field="email" /></th>
                <th pSortableColumn="phone" style="width: 8rem">Tel&eacute;fono <p-sortIcon field="phone" /></th>
                <th pSortableColumn="role" style="width: 8rem">Rol <p-sortIcon field="role" /></th>
                <th style="width: 10rem">Acciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td style="min-width: 10rem" class="font-medium">{{ item.names }}</td>
                <td>{{ item.username }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.phone }}</td>
                <td>{{ item.role }}</td>
                <td>
                    <p-button icon="pi pi-pencil" [routerLink]="['/user/edit']" [queryParams]="{ pkey: item.id}" class="mr-2" [rounded]="true" />
                    @if(item.role == rolVendedor) {
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="deleteItem(item)" />
                    }
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <div class="flex items-center justify-between text-green-900 pt-2">Se encontraron {{ dt?.totalRecords }} usuarios.</div>
        </ng-template>
    </p-table>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>
