<section class="mx-auto w-full px-4">
    <div class="my-4 p-4 rounded-2xl flex justify-between items-center">
        <h1 class="text-base md:text-lg font-winkysans font-bold text-gray-500">Catálogo de Productos</h1>
        <app-shopping-cart (onRemovedProduct)="onRemovedProduct($event)" (onSuccessfulSale)="onSuccesfulSale($event)" />
    </div>
    <app-catalog-table [products]="products" />

    <p-dialog
      header="Venta Exitosa"
      [modal]="true"
      [style]="{ width: '25rem' }"
      [(visible)]="visibleSuccesfulSale"
      (onHide)="closeDialog()"
      >
      <ng-template #headless>
      <div
        class="flex flex-col px-8 py-8 gap-6 rounded-2xl"
        style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--p-primary-400), var(--p-primary-700))"
      >
          <div class="flex justify-center items-center mb-4">
            <i class="!text-6xl text-primary-500 pi pi-shopping-cart"></i>
          </div>
          <p class="text-center">Venta realizada con &eacute;xito</p>
          <div class="flex justify-center gap-4">
            <!--<button pButton label="Descargar Boleta" icon="pi pi-download" severity="secondary" (click)="generateSaleTicket()"></button>-->

            @if(saleCompleted) {
              <app-ticket [sale]="saleCompleted" />
            }
          </div>
      </div>
    </ng-template>
  </p-dialog>
</section>

<!--Boleta de Venta-->
<div>
  <div id="ticket" class="d-none">
    <h2>Boleta de Venta</h2>
    <p><strong>Fecha:</strong> {{ getFormatDate(saleCompleted?.saleDate) }}</p>
    <p><strong>Total:</strong>S/ {{ saleCompleted?.total | number: '1.2-2' }}</p>

    <table>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
      </tr>
      @for (product of saleCompleted?.products; track $index) {
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.um }}</td>
          <td>{{ product.salePrice }}</td>
          <td>S/ {{ product.salePrice * product.quantity | number: '1.2-2' }}</td>
        </tr>
      }
    </table>

    <p><strong>Gracias por su compra.</strong></p>
  </div>

</div>
