<section class="mx-auto w-full px-4">
    <div class="my-4 p-4 rounded-2xl flex justify-between items-center">
        <h1 class="text-base md:text-lg font-winkysans font-bold text-gray-500">Catálogo de Productos</h1>
        <app-shopping-cart (onRemovedProduct)="onRemovedProduct($event)" (onSuccessfulSale)="onSuccesfulSale($event)" />
    </div>
    <app-catalog-table [products]="products" />

    <p-dialog
      header="Venta Exitosa"
      [modal]="true"
      [style]="{ width: '25rem' }"
      [(visible)]="visibleSuccesfulSale"
      (onHide)="closeDialog()"
      >
      <ng-template #headless>
      <div
        class="flex flex-col px-8 py-8 gap-6 rounded-2xl"
        style="border-radius: 12px; background-image: radial-gradient(circle at left top, var(--p-primary-400), var(--p-primary-700))"
      >
          <div class="flex justify-center items-center mb-4">
            <i class="!text-6xl text-primary-500 pi pi-shopping-cart"></i>
          </div>
          <p class="text-center">Venta realizada con &eacute;xito</p>
          <div class="flex justify-center gap-4">
            @if(saleCompleted) {
              <app-ticket [sale]="saleCompleted" [buttonShort]="false" ></app-ticket>
            }
          </div>
      </div>
    </ng-template>
  </p-dialog>
</section>
