<div class="w-full bg-white overflow-x-auto shadow-md sm:rounded-lg p-4">
  <p-table
      #dt
      [value]="sales()"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="['code', 'saleDate', 'total', 'createdBy']"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      dataKey="id"
      currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} ventas"
      [showCurrentPageReport]="true"
  >
      <ng-template #caption>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center">
              <h5 class="m-0 text-green-900 font-medium text-sm md:text-base">Lista de Ventas</h5>
              <p-iconfield class="w-full">
                  <p-inputicon styleClass="pi pi-search" />
                  <input
                      pInputText
                      class="w-full"
                      type="text"
                      (input)="onFilter($event)"
                      placeholder="Buscar..."
                  />
              </p-iconfield>
          </div>
      </ng-template>
      <ng-template #header>
          <tr>
              <th pSortableColumn="code" style="min-width: 230px">Código de Venta<p-sortIcon field="code" /></th>
              <th pSortableColumn="saleDate" [width]="150">Fecha de Venta <p-sortIcon field="saleDate" /></th>
              <th pSortableColumn="total" [width]="150">Importe Total <p-sortIcon field="total" /></th>
              <th pSortableColumn="createdBy" [width]="150">Vendedor<p-sortIcon field="createdBy" /></th>
              <th [width]="120">Acciones</th>
          </tr>
      </ng-template>
      <ng-template #body let-item>
          <tr>
              <td class="font-medium">{{ item.code }}</td>
              <td>{{ getFormatDate(item.saleDate) }}</td>
              <td>S/ {{ item.total | number: '1.2-2' }}</td>
              <td>{{ item.createdBy }}</td>
              <td style="display: flex;justify-content: space-between;gap:2px;">
                <p-button icon="pi pi-eye" title="Ver Venta" severity="success" [rounded]="true" class="mr-2" (click)="onViewSale(item)" />
                <p-button icon="pi pi-download" title="Descargar Boleta" severity="info" [rounded]="true" class="mr-2" (click)="onDownloadTicket(item)" />
              </td>
          </tr>
      </ng-template>
      <ng-template #summary>
          <div class="flex items-center justify-between text-green-900 pt-2">Se encontraron {{ dt?.totalRecords }} ventas.</div>
      </ng-template>
  </p-table>
</div>

<!--Boleta de Venta-->
<div ><!--style="visibility: hidden; position: absolute; top: -9999px"-->
  <div id="ticket" #pdfContent class="p-4 max-w-[800px] mx-auto shadow rounded">
    <table style="width: 100%; font-size: 12px; border: 1px solid #000;">
      <tr>
        <td style="text-align: center; padding: 10px; width: 100px;">
          <img src="assets/img/farmavida.png" alt="Logo" width="80" />
        </td>
        <td>
          <p class="text-base"><strong>FARMAVIDA</strong></p>
          <p>RUC : 12345678901</p>
          <p>Av. Los Negocios 123, Lima</p>
        </td>
        <td style="text-align: center; width: 200px;">
          <div style="border: 1px solid #000; padding: 10px; margin-right: 10px;">
            <p class="text-base"><strong>BOLETA &nbsp;DE VENTA</strong></p>
            <p>RUC : 12345678901</p>
            <p>{{ selectedSale?.code }}</p>
          </div>
        </td>
      </tr>
    </table>

    <table style="width: 100%; font-size: 12px; border: 1px solid #000; margin-top: 10px;">
      <tr>
        <td style="width: 120px; padding: 2px 8px;">Fecha de Emisi&oacute;n :</td>
        <td style="padding: 2px 8px;">{{ getFormatDate(selectedSale?.saleDate) }}</td>
      </tr>
      <tr>
        <td style="width: 120px; padding: 2px 8px;">Cliente :</td>
        <td style="padding: 2px 8px;"></td>
      </tr>
      <tr>
        <td style="width: 120px; padding: 2px 8px;">Vendedor :</td>
        <td style="padding: 2px 8px;">{{ selectedSale?.createdBy }}</td>
      </tr>
      <tr>
        <td style="width: 120px; padding: 2px 8px;">Tipo de Moneda :</td>
        <td style="padding: 2px 8px;">SOLES</td>
      </tr>
      <tr>
        <td style="width: 120px; padding: 2px 8px;">Observaci&oacute;n :</td>
        <td style="padding: 2px 8px;"></td>
      </tr>
      <tr>
        <td style="color: #fff;">.</td>
        <td style="color: #fff;">.</td>
      </tr>
    </table>

    <table style="width: 100%; font-size: 12px; border: 1px solid #000; margin-top: 10px;">
      <thead>
        <tr>
          <th style="border: 1px solid #000; padding: 4px;">Producto</th>
          <th style="border: 1px solid #000; padding: 4px;">Unidad</th>
          <th style="border: 1px solid #000; padding: 4px;">Cantidad</th>
          <th style="border: 1px solid #000; padding: 4px;">Precio Unitario</th>
          <th style="border: 1px solid #000; padding: 4px;">Importe</th>
        </tr>
      </thead>
      <tbody>
        @for (product of selectedSale?.products; track $index) {
          <tr>
            <td style="padding: 4px;">{{ product.name }}</td>
            <td style="padding: 4px;text-align: center;">{{ product.um }}</td>
            <td style="padding: 4px;text-align: center;">{{ product.quantity }}</td>
            <td style="padding: 4px;text-align: right;">S/ {{ product.salePrice | number: '1.2-2' }}</td>
            <td style="padding: 4px;text-align: right;">S/ {{ product.salePrice * product.quantity | number: '1.2-2' }}</td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" style="text-align: right; padding: 4px;"><strong>Total:</strong></td>
          <td style="text-align: right; padding: 4px;">S/ {{ selectedSale?.total | number: '1.2-2' }}</td>
        </tr>
        <tr>
          <td style="color: #fff;">.</td>
          <td style="color: #fff;">.</td>
        </tr>
      </tfoot>
    </table>

    <p style="font-size: 12px; margin-top: 20px;">
      <strong>Gracias &nbsp;por su compra.</strong>
    </p>
  </div>

</div>
