<div class="w-full bg-white overflow-x-auto shadow-md sm:rounded-lg p-4">
    <p-table
        #dt
        [value]="products()"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['code', 'name', 'expirationDate', 'quantity', 'costPrice', 'salePrice']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"
        [showCurrentPageReport]="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0 text-green-900 font-medium">Lista de Productos</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input
                        pInputText
                        type="text"
                        (input)="onFilter($event)"
                        placeholder="Buscar..."
                    />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="code" [width]="120">C&oacute;digo <p-sortIcon field="code" /></th>
                <th pSortableColumn="name" style="min-width: 230px">Nombre <p-sortIcon field="name" /></th>
                <th pSortableColumn="expirationDate" [width]="150">Fecha Venc. <p-sortIcon field="expirationDate" /></th>
                <th pSortableColumn="quantity" [width]="120">Cantidad <p-sortIcon field="quantity" /></th>
                <th pSortableColumn="costPrice" [width]="150">Precio Costo <p-sortIcon field="costPrice" /></th>
                <th pSortableColumn="salePrice" [width]="150">Precio Venta <p-sortIcon field="salePrice" /></th>
                <th [width]="120">Acciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>{{ product.code }}</td>
                <td class="font-medium">{{ product.name }}</td>
                <td>{{ product.expirationDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ product.quantity }}</td>
                <td>S/ {{ product.costPrice | number: '1.2-2' }}</td>
                <td>S/ {{ product.salePrice | number: '1.2-2' }}</td>
                <td>
                    <p-button icon="pi pi-pencil" [routerLink]="['/product/edit']" [queryParams]="{ pkey: product.id}" class="mr-2" [rounded]="true" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" (click)="deleteProduct(product)" />
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <div class="flex items-center justify-between text-green-900 pt-2">Se encontraron {{ dt?.totalRecords }} productos.</div>
        </ng-template>
    </p-table>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>
