<!--Boleta de Venta-->
<div style="visibility: hidden; position: absolute; top: -9999px">
  <div id="ticket" #pdfContent class="p-4 shadow rounded" style="width: 794px; letter-spacing: 0.1em !important;">
    <table style="width: 100%; font-size: 12px; border: 1px solid #000;">
      <tr>
        <td style="text-align: center; padding: 10px; width: 100px;">
          <img src="assets/img/farmavida.png" alt="Logo" width="80" />
        </td>
        <td>
          <p class="text-base"><strong>FARMAVIDA</strong></p>
          <p>RUC: {{ ruc }}</p>
          <p>Av. Los Negocios 123, Lima</p>
        </td>
        <td style="text-align: center; width: 200px;">
          <div style="border: 1px solid #000; padding: 0px 10px 10px; margin-right: 10px;">
            <p class="text-base"><strong>BOLETA DE VENTA</strong></p>
            <p>RUC: {{ ruc }}</p>
            <p>{{ sale().code }}</p>
          </div>
        </td>
      </tr>
    </table>

    <table style="width: 100%; font-size: 12px; border: 1px solid #000; margin-top: 10px;">
      <tr>
        <td style="width: 140px; padding: 2px 8px;">Fecha de Emisi&oacute;n:</td>
        <td style="padding: 2px 8px;">{{ getFormatDatetime(sale().saleDate) }}</td>
      </tr>
      <tr>
        <td style="width: 140px; padding: 2px 8px;">Cliente:</td>
        <td style="padding: 2px 8px;"></td>
      </tr>
      <tr>
        <td style="width: 140px; padding: 2px 8px;">Vendedor:</td>
        <td style="padding: 2px 8px;">{{ sale().createdBy }}</td>
      </tr>
      <tr>
        <td style="width: 140px; padding: 2px 8px;">Tipo de Moneda:</td>
        <td style="padding: 2px 8px;">SOLES</td>
      </tr>
      <tr>
        <td style="width: 140px; padding: 2px 8px;">Observaci&oacute;n:</td>
        <td style="padding: 2px 8px;"></td>
      </tr>
      <tr>
        <td style="color: #fff;">.</td>
        <td style="color: #fff;">.</td>
      </tr>
    </table>

    <table style="width: 100%; font-size: 12px; border: 1px solid #000; margin-top: 10px;">
      <thead>
        <tr>
          <th style="border: 1px solid #000; padding: 0 4px 4px;"><p style="margin-bottom: 8px;">Producto</p></th>
          <th style="border: 1px solid #000; padding: 0 4px 4px;"><p style="margin-bottom: 8px;">Unidad</p></th>
          <th style="border: 1px solid #000; padding: 0 4px 4px;"><p style="margin-bottom: 8px;">Cantidad</p></th>
          <th style="border: 1px solid #000; padding: 0 4px 4px;"><p style="margin-bottom: 8px;">Precio Unitario</p></th>
          <th style="border: 1px solid #000; padding: 0 4px 4px;"><p style="margin-bottom: 8px;">Importe</p></th>
        </tr>
      </thead>
      <tbody>
        @for (product of sale().products; track $index) {
          <tr>
            <td style="padding: 4px;">{{ product.name }}</td>
            <td style="padding: 4px; text-align: center;">{{ product.um }}</td>
            <td style="padding: 4px; text-align: center;">{{ product.quantity }}</td>
            <td style="padding: 4px; text-align: right;">S/ {{ product.salePrice | number: '1.2-2' }}</td>
            <td style="padding: 4px; text-align: right;">S/ {{ product.salePrice * product.quantity | number: '1.2-2' }}</td>
          </tr>
        }
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4" style="text-align: right; padding: 4px;"><strong>Total:</strong></td>
          <td style="text-align: right; padding: 4px;">S/ {{ sale().total | number: '1.2-2' }}</td>
        </tr>
        <tr>
          <td style="color: #fff;">.</td>
          <td style="color: #fff;">.</td>
        </tr>
      </tfoot>
    </table>

    <!-- Código QR -->
    <div id="qr-code" style="text-align: left; margin-top: 20px;">
      <qrcode
        [qrdata]="qrData"
        [width]="100"
        [errorCorrectionLevel]="'M'">
      </qrcode>
      <p style="font-size: 8px;">Boleta: {{ qrData }}</p>
    </div>

    <p style="font-size: 12px; margin-top: 20px;">
      <strong>Gracias por su compra.</strong>
    </p>
  </div>

</div>

@if(buttonShort()) {
  <p-button icon="pi pi-download" title="Descargar Boleta" severity="info" [rounded]="true" class="mr-2" (click)="generatePDF()" />
} @else {
  <p-button icon="pi pi-download" label="Descargar Boleta" severity="secondary" (click)="generatePDF()" />
}


