<div class="w-full bg-white overflow-x-auto shadow-md sm:rounded-lg p-4">
    <p-table
        #dt
        [value]="entries()"
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['fileName', 'entryDate', 'status', 'processingDate', 'username']"
        [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true"
        dataKey="id"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} productos"
        [showCurrentPageReport]="true"
    >
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0 text-green-900 font-medium">Lista de Productos</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input
                        pInputText
                        type="text"
                        (input)="onFilter($event)"
                        placeholder="Buscar..."
                    />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th pSortableColumn="fileName" style="min-width: 230px">Nombre Archivo<p-sortIcon field="fileName" /></th>
                <th pSortableColumn="entryDate" [width]="150">Fecha Carga <p-sortIcon field="entryDate" /></th>
                <th pSortableColumn="status" [width]="150">Estado <p-sortIcon field="status" /></th>
                <th pSortableColumn="processingDate" [width]="150">Fecha Proc. <p-sortIcon field="processingDate" /></th>
                <th pSortableColumn="username" [width]="150">Usuario <p-sortIcon field="username" /></th>
                <th [width]="160">Acciones</th>
            </tr>
        </ng-template>
        <ng-template #body let-item>
            <tr>
                <td class="font-medium">{{ item.fileName }}</td>
                <td>{{ item.entryDate | date: 'dd/MM/yyyy' }}</td>
                <td><p-tag [value]="item.status" [severity]="getSeverityStatus(item.status)" /></td>
                <td>{{ item.processingDate | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.username }}</td>
                <td style="display: flex;justify-content: space-between;gap:8px;">
                    <p-button icon="pi pi-eye" title="Ver Detalles" severity="success" [rounded]="true" class="mr-2" (click)="viewEntry(item.id)" />
                    @if(item.status !== status.PROCESSED) {
                        <p-button icon="pi pi-sync" title="Procesar" severity="info" [rounded]="true" class="mr-2" (click)="processEntry(item.id)" />
                        <p-button icon="pi pi-trash" title="Eliminar" severity="danger" [rounded]="true" (click)="deleteEntry(item)" />
                    }
                </td>
            </tr>
        </ng-template>
        <ng-template #summary>
            <div class="flex items-center justify-between text-green-900 pt-2">Se encontraron {{ dt?.totalRecords }} productos.</div>
        </ng-template>
    </p-table>

    <!--View Dialog-->
    <p-dialog
      [header]="selectedEntry?.fileName"
      [modal]="true"
      [(visible)]="visibleView"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
      [style]="{ width: '70vw' }"
      [draggable]="false"
      (onHide)="dismissView($event)"
    >
        <p class="mb-8"></p>
        <div class="grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <div class="sm:col-span-3">
                <div class="flex items-center gap-4 mb-4">
                    <label class="font-semibold w-32">Fecha de Carga:</label>
                    <label>{{getFormatDate(selectedEntry?.entryDate)}}</label>
                </div>
                <div class="flex items-center gap-4 mb-4">
                    <label for="username" class="font-semibold w-32">Estado:</label>
                    <p-tag [value]="selectedEntry?.status" [severity]="getSeverityStatus(selectedEntry?.status)" />
                </div>
            </div>
            <div class="sm:col-span-3">
                <div class="flex items-center gap-4 mb-4">
                    <label class="font-semibold w-32">Usuario:</label>
                    <label>{{selectedEntry?.id}}</label>
                </div>
                <div class="flex items-center gap-4 mb-4">
                    <label class="font-semibold w-32">Fecha de Proc.:</label>
                    <label>{{getFormatDate(selectedEntry?.processingDate)}}</label>
                </div>
            </div>
        </div>

        <div class="flex justify-between items-center mb-4">
            <p class="text-gray-500 font-bold">Productos</p>
            @if(selectedEntry?.status !== status.PROCESSED) {
                <button pButton label="Procesar" icon="pi pi-sync" severity="info"></button>
            }
        </div>

        <div class="view-table">
          <div class="overflow-x-auto">
            <p-table
              #dtdetails
              [value]="selectedEntry?.products ?? []"
              [tableStyle]="{ 'min-width': '75rem' } "
              [rowHover]="true"
            >
                <ng-template #header>
                    <tr>
                        <th>N°</th>
                        <th style="min-width:200px">Nombre</th>
                        <th style="min-width:230px">Principio Activo</th>
                        <th style="min-width:150px">Laboratorio</th>
                        <th>Precio Costo</th>
                        <th>Unidad Medida</th>
                        <th>Fecha Venc.</th>
                        <th>Lote</th>
                        <th>Reg. Sanitario</th>
                        <th>Cantidad</th>
                        <th>Precio Venta</th>
                    </tr>
                </ng-template>
                <ng-template #body let-product let-index="rowIndex">
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.laboratory }}</td>
                        <td>{{ product.costPrice }}</td>
                        <td>{{ product.um }}</td>
                        <td>{{ getFormatDate(product.expirationDate) }}</td>
                        <td>{{ product.lot }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.salePrice }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
      </div>
    </p-dialog>
    <!--End View Dialog-->

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>
