<section class="mx-auto w-full">

  <h1 class="p-4 text-right text-yellow-600">Bienvenido, <strong>{{userInfo?.names}}</strong></h1>

  <div class="p-4 mb-4 rounded-2xl flex justify-between items-center">
    <h1 class="text-base md:text-lg font-winkysans font-bold text-gray-500">Resumen de Ventas</h1>
  </div>

  <div class="mb-12 grid gap-y-10 gap-x-6 sm:grid-cols-2 md:grid-cols-3">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-600 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
          <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
        </svg>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Hoy</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">S/ {{ saleStats?.day?.total | number: '1.2-2' }}</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 text-center">
          <strong class="text-green-500">{{ saleStats?.day?.count }}</strong>&nbsp;ventas
        </p>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-blue-600 to-blue-400 text-white shadow-blue-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
          <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
        </svg>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Esta Semana</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">S/ {{ saleStats?.week?.total | number: '1.2-2' }}</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 text-center">
          <strong class="text-green-500">{{ saleStats?.week?.count }}</strong>&nbsp;ventas
        </p>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-md">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-orange-600 to-orange-400 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true" class="w-6 h-6 text-white">
          <path d="M18.375 2.25c-1.035 0-1.875.84-1.875 1.875v15.75c0 1.035.84 1.875 1.875 1.875h.75c1.035 0 1.875-.84 1.875-1.875V4.125c0-1.036-.84-1.875-1.875-1.875h-.75zM9.75 8.625c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v11.25c0 1.035-.84 1.875-1.875 1.875h-.75a1.875 1.875 0 01-1.875-1.875V8.625zM3 13.125c0-1.036.84-1.875 1.875-1.875h.75c1.036 0 1.875.84 1.875 1.875v6.75c0 1.035-.84 1.875-1.875 1.875h-.75A1.875 1.875 0 013 19.875v-6.75z"></path>
        </svg>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Este Mes</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">S/ {{ saleStats?.month?.total | number: '1.2-2' }}</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-base leading-relaxed font-normal text-blue-gray-600 text-center">
          <strong class="text-green-500">{{ saleStats?.month?.count }}</strong>&nbsp;ventas
        </p>
      </div>
    </div>
  </div>

  <div class="mb-12 grid gap-6 md:grid-cols-2">
    <div class="card p-4 flex flex-col rounded-xl bg-white shadow-md">
      <p-chart type="bar" [data]="dailySales.data" [options]="dailySales.options" class="w-full" />
    </div>

    <div class="card p-4 flex flex-col rounded-xl bg-white shadow-md">
      <p-chart type="bar" [data]="dailyCountSales.data" [options]="dailyCountSales.options" class="w-full"/>
    </div>
  </div>

  <div class="mb-12 grid gap-6 md:grid-cols-2">
    <div class="card p-4 flex flex-col rounded-xl bg-white shadow-md">
      <p-chart type="bar" [data]="monthlySales.data" [options]="monthlySales.options" class="w-full" />
    </div>

    <div class="card p-4 flex flex-col rounded-xl bg-white shadow-md">
      <p-chart type="bar" [data]="monthlyCountSales.data" [options]="monthlyCountSales.options" class="w-full"/>
    </div>
  </div>
</section>

