<div>
  <div id="ticket">
    <h2>Boleta de Venta</h2>
    <p><strong>Fecha:</strong> {{ sale.saleDate }}</p>
    <p><strong>Total:</strong> {{ sale.total }}</p>

    <table>
      <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Unidad</th>
        <th>Precio Unitario</th>
        <th>Subtotal</th>
      </tr>
      @for (product of sale.products; track $index) {
        <tr>
          <td>{{ product.name }}</td>
          <td>{{ product.quantity }}</td>
          <td>{{ product.um }}</td>
          <td>{{ product.salePrice }}</td>
          <td>{{ product.salePrice * product.quantity }}</td>
        </tr>
      }
    </table>

    <p><strong>Gracias por su compra.</strong></p>
  </div>

  <button (click)="printTicket()">Imprimir Boleta</button>

</div>
